.container{
  position: fixed;
  margin: 40px;
  width:800px;
}
.zero-container{
  width: 75px;
  margin:0;
  float: left;
}
.wheel-container{
  float: left;
  width: 600px;
  height: 150px;
}
.row-bet-container{
  float: left;
  width: 50px;
  height: 150px;
  background-color: green;

}
.twelves-container{
 clear:both;
 margin-left: 75px;
 text-align: center;
}
.bottom-container{
  clear: both;
  margin-left: 75px;
  text-align: center;
}
.zero-bet{
 height: 75px;
 background: green;
 text-align: center;
}
.wheel-bet{
  width: 50px;
  height: 50px;
  position: relative;
  float: left;
  color: white;
}
.row-bet{
  width: 50px;
  height: 50px;
  transform: rotate(270deg);
  text-align: center;

}
.twelves-bet{
  float: left;
  width: 200px;
}
.bottom-bet{
  float:left;
  width: 100px;
}
.wheel-image{
  max-height: 400px;
  -webkit-transition: transform 2s;
    transition: transform 2s;
}
.spinWheel{
  -webkit-transform:rotate(1890deg);
    transform:rotate(1890deg);
}
